@use "../utils/variables";
@use "../utils/functions";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/buttons";

.btn.btn-secondary,
.btn.btn-primary,
.btn.btn-dark,
.btn.btn-outline-light,
.btn-lg {
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-outline-light {
  @include button-variant(
    functions.getColor(light),
    functions.getColor(light-grey),
    functions.getColor(dark),
    functions.getColor(light),
    functions.getColor(dark)
  );
}
