@use "../utils/functions";
@use "../utils/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

html {
  font-size: 62.5%; // REM Normalize
  box-sizing: border-box;
  color: functions.getColor(text);
  font-family: functions.getFont(primary);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
