@use "../utils/variables";
@use "../utils/functions";

h1,
h2,
h3 {
  font-family: functions.getFont(secondary);
}

.search-bar {
  font-size: 1.6rem;
}

// Vertical line

.vl {
  border-left: 1px solid functions.getColor(light-grey);
  height: 450px;
  margin: 0 20px;
}
