@use "../utils/functions";

.upper-nav {
  background-color: functions.getColor(primary);
}

.logo {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: functions.getColor(text);
}

.nav-link {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: functions.getColor(text);
}

.navbar-nav {
  gap: 20px;
}
