@use "../utils/functions";
@use "../utils/variables";

.upper-nav {
  background-color: functions.getColor(primary);
}

.logo {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
}

.nav-link {
  font-family: functions.getFont(primary);
  font-size: 16px;
  font-weight: 500;
}

.navbar-nav {
  gap: 20px;
}
