@use "../utils/functions";

.upper-nav {
  background-color: functions.getColor(primary);
}

.logo {
  font-size: 2rem;
  font-family: functions.getFont(secondary);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: functions.getColor(text);
}

.nav-link {
  text-transform: uppercase;
  color: functions.getColor(text);
}

.navbar-nav {
  gap: 20px;
}
